.mainRoute {
  position: absolute;
}
.mainHome {
  width: 100%;
  /* position: relative; */
}

.forest {
  position: relative;
  top: 50px;
  width: 5000px;
  height: 1000px;
  animation: moveleft 5s infinite;
}

.forest-absolute {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 1000px;
  height: 1000px;
}

.flyright {
  /* position: relative; */
  animation: moveright 5s infinite;
}

@keyframes moveright {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}

@keyframes moveleft {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
