.mainRoute {
  position: absolute;
  color: #d6d6d6;
}

a.button {
  background-color: #222831;
  border: 4px solid #d6d6d6;
  font-weight: bolder;
  color: #d6d6d6;
  padding: 2vh 4vh;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 2vh;
  cursor: pointer;
}

a.button:hover {
  background-color: #cacacb;
  color: #2f343d;
}
